<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>ProxyBroker</title>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.3.0/css/all.min.css"/>
    <link rel="stylesheet" href="/css/project.css" media="screen">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
    <script type="text/javascript" src="/js/copyTarget.js"></script>
</head>
<body>
<main class="content-wrapper">
    <div th:replace="~{header :: header}"></div>
    <div class="container">
        <div layout:fragment="content">
            <h1>place for static content</h1>
        </div>
    </div>
</main>
</body>
</html>