<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Exitnodes</title>
    <script th:inline="javascript">
        let flag = [[${exception}]];//переменная-флаг в thymeleaf
        window.onload = () => {
            if (flag) new bootstrap.Modal(document.getElementById('projectErrorModal'), {keyboard: false}).show()
        };
    </script>
</head>
<body>
<div layout:fragment="content">
    <h1>Exitnode check and test area</h1>
    <div sec:authorize="isAuthenticated()">
        <p>googled any where</p>
        <div>
            <hr class="hr"/>
            <h3>paste host and port</h3>
            <form method="POST" th:action="@{/exitnode/check}" th:object="${exitNodeBasicForm}">
                <div class="mt-0 row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input name="hostAndPort" type="text" class="form-control" id="hostAndPort"
                                   placeholder="host:port">
                            <label for="hostAndPort">host:port</label>
                        </div>
                    </div>
                    <div class="row g-2">
                        <button type="submit" class="btn btn-secondary">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h2>Last user added exit nodes</h2>
            </div>
        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">Host</th>
                    <th scope="col">Post</th>
                    <th scope="col">Type</th>
                    <th scope="col">Anonymity</th>
                    <th scope="col">Country</th>
                    <th scope="col">In use</th>
                    <th scope="col">Stability index</th>
                    <th scope="col">Updated at</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="node : ${exitNodes}">
                    <td th:text="${node.getHost()}"></td>
                    <td th:text="${node.getPort()}"></td>
                    <td th:text="${node.getConnectionType() != null} ?  ${node.getConnectionType().code} : ''"></td>
                    <td th:text="${node.getAnonType() != null} ? ${node.getAnonType().code} : ''"></td>
                    <td th:text="${node.getCountry() != null} ? ${node.getCountry().getAlpha2()} : ''"></td>
                    <td th:text="${node.getInUse() != null} ? ${node.getInUse()} : ''"></td>
                    <td th:text="${node.getStabilityIndex()}"></td>
                    <td th:text="${node.getUpdatedAt != null} ? ${#temporals.format(node.getUpdatedAt(), 'yyyy.MM.dd hh:mm:ss')} : ''"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--Модальное окно для ошибок старт-->
        <div class="modal fade"
             th:if="${exception != null && exception != ''}"
             id="projectErrorModal"
             tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" th:text="${exception}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Модальное окно для ошибок конец-->
        <!--пагинация начало-->
        <div>
            <nav aria-label="Pagination" th:if="${exitNodes.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${exitNodes.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/exitnode?page={id}(id=${exitNodes.number lt 2 ? 1 : exitNodes.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq exitNodes.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, exitNodes.totalPages, 1)}">
                        <a class="page-link" th:href="@{/exitnode?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${exitNodes.number eq exitNodes.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/exitnode?page={id}(id=${exitNodes.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--пагинация начало-->
    </div>
</div>
</body>
</html>