<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Anonymity Levels</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Anonymity Levels</h1>
    <p>Used in project</p>
    <div class="table">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="anonLevelKey : ${anonLevels.keySet()}">
                <td th:text="${anonLevelKey}"></td>
                <td th:text="${anonLevels.get(anonLevelKey)}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>