<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Country Codes</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Country Codes</h1>
  <p>Used in project</p>
  <div class="table">
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="elementKey : ${countryCodes.keySet()}">
        <td th:text="${elementKey}"></td>
        <td th:text="${countryCodes.get(elementKey)}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>