<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Entrypoints</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Entrypoints</h1>
    <p>Preferred connections for consumers</p>
    <div class="row">
        <div class="col">
            <a class="btn btn-secondary"
               th:href="@{/entrypoints/add}"
               sec:authorize="isAuthenticated() && hasRole('ADMIN')"
               role="button"
               style="float: right"
               aria-disabled="true">Add entrypoint</a>
        </div>
    </div>
    <div class="table">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Created at</th>
                <th scope="col">Name</th>
                <th scope="col">Port</th>
                <th scope="col">Type</th>
                <th scope="col">Anonymity</th>
                <th scope="col">Strategy</th>
                <th scope="col">Countries</th>
                <th scope="col" sec:authorize="isAuthenticated()">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entryPoint : ${entryPointList}">
                <td>
                    <p class="text-muted"
                       th:text="${#temporals.format(entryPoint.getCreatedAt(), 'yyyy.MM.dd hh:mm:ss')}"></p>
                </td>
                <td th:text="${entryPoint.getName()}"></td>
                <td th:text="${entryPoint.getPort()}"></td>
                <td th:text="${entryPoint.getConnectionType().getCode()}"></td>
                <td>
                    <p th:text="${entryPoint.getAnonymityLevel().getCode()}"></p>
                </td>
                <td>
                    <p th:text="${entryPoint.getSelectionStrategy().getCode()}"></p>
                </td>
                <td>
                    <div class="container text-center">
                        <div class="row-cols-1" th:each="country : ${entryPoint.getCountryCodeSet()}">
                            <div class="col-sm-2" th:text="${country.getAlpha2()}">
                            </div>
                        </div>
                    </div>
                </td>
                <td sec:authorize="isAuthenticated()">
<!--                    <div sec:authorize="isAuthenticated()">-->
                        <a class="btn btn-primary"
                           th:href="'/entrypoints/edit/' + ${entryPoint.id}"
                           type="button">
                            <i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger"
                           th:href="'/entrypoints/remove/' + ${entryPoint.id}"
                           type="button">
                            <i class="far fa-trash-alt"></i>
                        </a>
<!--                    </div>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>